{% comment %} get the value {% endcomment %}
 <h2>{{ section.settings.title }}</h2>
{% schema %}
  {
    "name": "Promotions Group",
    "tag": "section",
    "class": "my-wrapper-class",
    "settings": [
        {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default": "Welcome to Our Store"
        }
    ],
    "presets": [
        {
            "name": "Promotions"
        }
    ]
  }
{% endschema %}