<p>Hello World</p>
{% schema %}
  {
    "name": "Sections Tutorial",
    "tag": "section",
    "class": "section-tutorial",
    "limit": 2,
    "settings": [

    ],
    "blocks": [

    ],
    "presets": [
        {
            "name": "Section Tutorial",
            "settings": {}
        }
    ]
  }
{% endschema %}