/* sections-tutorial.css */
.section-tutorial{
    background: rgba(0, 0, 0, 0.363);
    color: white;
}

.section-tutorial__internal h2{
    color: var(--primary-color);
}

.section-tutorial__internal button{
    background: var(--primary-color);
}